<div class="container flex">
  <div class="left input">
    <textarea class="input-text" [(ngModel)]='inputText'></textarea>
  </div>
  <div class="right render">
    <div class="right-container" *ngIf="inputObj">
      <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: inputObj }"></ng-container>
    </div>
  </div>
</div>
<button (click)="convert()">转JSON</button>

<ng-template #recursiveList let-inputObj>
  <ng-container *ngIf="isObject(inputObj)">
    <span>{{ '{' }}</span>
    <div class="border-style minus small-icon">
      <span>-</span>
    </div>
    <div class="plus inline-flex hide">
      <div class="border-style small-icon">{{getObjLength(inputObj)}}</div>
      <div class="margin-right-3">...</div>
    </div>
    <div class="margin-left-25">
      <div *ngFor="let item of inputObj | keyvalue">
        <div>
          <span class="purple">
            "{{ item.key}}":
          </span>
          <span class="red" *ngIf="item.value === null">null</span>
          <span class="red" *ngIf="item.value === undefined">undefined</span>
          <span class="green" *ngIf="isString(item.value)">"{{item.value}}"</span>
          <span class="red" *ngIf="isNumber(item.value)">{{item.value}}</span>
          <div *ngIf="isObject(item.value)" class="inline">
            <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.value }"></ng-container>
          </div>
          <div *ngIf="isArray(item.value)" class="inline">
            <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.value }"></ng-container>
          </div>
        </div>
      </div>
    </div>
    <span>{{ '}' }}</span>
  </ng-container>
  <ng-container *ngIf="isArray(inputObj)">
    <span>{{ '[' }}</span>
    <div class="border-style minus small-icon">
      <span>-</span>
    </div>
    <div class="plus inline-flex hide">
      <div class="border-style small-icon">{{getObjLength(inputObj)}}</div>
      <div class="margin-right-3">...</div>
    </div>
    <div class="margin-left-25">
      <div *ngFor="let item of inputObj">
        <div>
          <span class="red" *ngIf="item === null">null</span>
          <span class="red" *ngIf="item === undefined">undefined</span>
          <span class="green" *ngIf="isString(item)">"{{item}}"</span>
          <span class="red" *ngIf="isNumber(item)">{{item}}</span>
          <div *ngIf="isObject(item)" class="inline">
            <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item }"></ng-container>
          </div>
          <div *ngIf="isArray(item)" class="inline">
            <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item }"></ng-container>
          </div>
        </div>
      </div>
    </div>
    <span>{{ ']' }}</span>
  </ng-container>
</ng-template>